html{
    scroll-behavior: smooth;

}

.ancla:before{
    display: block;
    content: " ";
    margin-top: -60px;
    height: 60px;
    visibility: hidden;
}

body{
    background-color: #222831;
    
}
/* NAV */
#main{
    padding-top: 70px;
}

#header 
 img {
    width: 140px; 
}
    .text-green {
        color: #76e8ab !important;
    }
    .text-salmon {
        color: #ff7777 !important;
    }

#main .caurrusel-inner img {
        max-height: 70vh;
        object-fit: cover;
        filter: grayscale(50%);       
    }

    .carousel {
        float: left;
        width: 33.33%;
    }


/* FIN NAV */

/* CARDS */
.card-body{
    font-size: 13px;
    display: block;
    border-radius: 0.5rem;
    background: #fff;
    overflow: hidden;
    position: relative;
    color: #1A171B;
    box-shadow: 2px 3px 6px rgba(0,0,0,0.15);
    transition: 0.5s all;
    border: none;
    
    
}
.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 200px ;
   
}
.card-title{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
}
.titulos{
    font-family: "Poppins",sans-serif;
    color: #ffffff;
    text-shadow: 0 0 0.1em #8F7;
    font-size: 32px;
    text-align: start;
}
.btn-primary{
    padding: 0.3rem 1rem !important;
    background-color: #FF7777 !important;
    color: #FFFFFF !important;
    border: none !important;
}


/* FIN CARDS */

/* SUMATE */

#sumate .card-sale {
    padding: 3rem 2rem;
    color: #ffffff;
    background-image: url(images/sumateverde.jpg);
    filter: grayscale(20%);
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 7px 3px #393e46;
    letter-spacing: .03rem;
   
    
}

#sumate .bg-grey{    
    background-color: #393e46;
    border-radius: 3px;
    box-shadow: 0 0 7px 3px #76e8ab;
    align-items: center;
    justify-content: center;
}

#sumate .text-center {
    font-size: 1rem;
    text-align: center !important;
}

#sumate .text-shadow {
    text-shadow: 0 0 0.1em #8F7;
}

.btn-green{
    background-color:  #76E8AB !important;
    color: #FFFFFF;
    border: 2px solid #76e8ab;
    padding: 0.3rem 1rem !important;
}

.btn-green:hover {
    background-color: #FF7777 !important;
    border: 2px solid #ff7777;
    color: #FFFFFF;
    padding: 0.3rem 1rem !important;
}
/* FIN SUMATE */

/* FOOTER */

.footer {
    background: #303036;
    color: #d3d3d3;
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer .footer-botton {
    background: #343a40;
    color: #686868;
    text-align: center;
    bottom: 0px;
    left: 0px;
    line-height: 20px;
    border: 2px solid #76e8ab;
    font-size: x-small;
  }
  
  .footer .footer-content .footer-section {
    border: 2px solid #76e8ab;
    padding: 25px;
    color: white;
    font-size: small;
    text-align: center;
  }
  /* FIN FOOTER */
  
  /*MODAL*/
  
  .modal-form {
    background-color: #393e46;
    border: 2px solid  #222831;
    border-radius: 0.2rem;
    padding: 0.5rem 0.5rem;
    color: #FFFFFF;
  }

  .modal-title{
      color: #FFFFFF;
  }
  
  .modal-header{
    background-color:  #222831;
    
  }
  
  .modal-body{
    background-color: #222831;
  }
  
  .modal-footer{
    background-color:  #222831;
  }
  
  .btn-cancelar {
    background-color: #ff7777;
    color: #FFFFFF;
    padding: 0.3rem 1rem !important;
  }
  .btn-cancelar:hover {
    background-color: #9c1e1e8a;
    color: #FFFFFF;
    padding: 0.3rem 1rem !important;
  }
  /* FIN MODAL */


  