:root{
    --color-oscuro: #222831;
    --color-medio: #34343c;
    --color-claro: #393e46;
    --color-grey: #f5f6f8;
    --color-light: #ffffff;
    --color-green: #76e8ab;
    --color-salmon: #ff7777;
    --color-shadow: #8f7;  

}


body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: var(--color-claro);
    color: var(--color-light);
    letter-spacing: .05rem;
}

/* Cambio de color de las clases */
.bg-light {
    background-color: var(--color-light)!important;
}

.bg-dark {
    background-color: var(--color-oscuro)!important;
    box-shadow: 0 0 7px 3px --var(--color-green);
}

/* Padding blanco para tamaños grandes */
#section {
    
    padding: 3rem;
}



/* logo */
.logo img{
    width: 175px;
    height: auto;
}

/* Shadow del titulo */
.h1{
    
    text-shadow: 0 0 0.1em var(--color-shadow);
   }



/* Padding del container de formulario */
.p-6 {
    padding: 4rem 7rem;
}

/* botones */
.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 1rem;
    min-width: 10rem;
}

.btn-outline-dark{
    border: 2px solid  var(--color-claro);
    /* background-color: transparent; */
}


/* controles de formulario */
.form-control {
    background-color:  var(--color-claro);
    border: 2px solid  var(--color-claro);
    border-radius: .2rem;
    padding: 1.5rem 1rem;
    color: var(--color-light);
}

.form-control:focus {
    background-color: var(--color-light)#ffffff;
    border: 2px solid var(--color-green);
  }


  /* Checkout style */
.check-label { 
    display: block; 
    position: relative; 
    padding-left: 45px; 
    margin-bottom: 15px; 
    cursor: pointer; 
    font-size: 20px; 
} 
  

input[type=checkbox] { 
    visibility: hidden; 
} 
  

.geekmark { 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 18px; 
    width: 18px; 
    background-color: var(--color-green); 
} 
  
 

.check-label input:checked ~ .geekmark { 
    background-color: var(--color-salmon); 
} 
  

.geekmark:after { 
    content: ""; 
    position: absolute; 
    display: none; 
} 
  

.check-label input:checked ~ .geekmark:after { 
    display: block; 
} 

.check-label .geekmark:after { 
    left: 8px; 
    bottom: 5px; 
    width: 6px; 
    height: 12px; 
    border: solid white; 
    border-width: 0 4px 4px 0; 
    -webkit-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    transform: rotate(45deg); 
}



/* boton registrese */
.btn-green{
    background-color:   var(--color-green);
    color: var(--color-light);
    border: none;
    transition: all .3s ease;
}

.btn-green:hover {
    background-color: var(--color-salmon);
    border: none;
    color:var(--color-light);
}

/* link volver */
.volver{
    color: var(--color-green);
    text-decoration: none;
}

.volver:hover{
    color: var(--color-salmon);
}



/* Columna de imagen */
.registro-bg{
    background-image: url(/formularioRegistro/Img/verdeagua.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin-bottom: 0rem;
    filter: grayscale(40%);
}


@media (max-width: 576px){
    #section{
        padding: 0;
    }
    .p-6{
        padding: 2rem;
    }

    .btn-width{
        width: 100%;

    }
}

@media (max-width: 1200px){
    .registro-bg{
        min-height: 50vh;
    }
}



